// based on cellSize + borderSize from
// projects/crosswords/constants.js
$xword-cell-width: 31px;
$xword-cell-width-small: 24px; // only used in anagram helper preview cells
$xword-cell-width-xsmall: 20px; // as above but for long (10+ letter) clues
$xword-border-width: 1px;

$xword-highlight-colour: $highlight-main;
$xword-focussed-colour: #000000;
$xword-focussed-background-colour: #fff7b2;

$xword-correct-background-colour: #85c475;
$xword-correct-background-colour-p1: #87c977;
$xword-correct-background-colour-p2: #8899c7;
$xword-correct-background-colour-p3: #b58ccc;
$xword-correct-background-colour-p4: #ceb683;
$xword-correct-background-colour-p5: #da8484;
$xword-correct-background-colour-p6: #9dd7e9;
//$xword-correct-and-focussed-background-colour: #92c54f;

$xword-clue-number-width: 32px;

$xword-grid-sizes: (
    // quick: 13,
    // cryptic: 15,
    // prize: 15,
    // quiptic: 15,
    // genius: 15,
    // speedy: 13,
    // everyman: 15,
    // weekend: 13,
    // sunday: 23,
    
    10: 10,
    11: 11,
    12: 12,
    13: 13,
    14: 14,
    15: 15,
    16: 16,
    17: 17,
    18: 18,
    19: 19,
    20: 20,
    21: 21,
    22: 22,
    23: 23,
    24: 24,
    25: 25,
    26: 26,
    27: 27,
    28: 28,
    29: 29,
    30: 30,
);
